* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Arimo', sans-serif;
}

body {
  &:not(.screen-02) {
    background-size: 100% auto;
    background: url("./img/first.png") center bottom;
    @media screen and (max-width:1200px) {
      background-size: auto 100%;
    }
  }
  &.screen-02 {
    background: radial-gradient(50% 158.02% at 50% 50%, #281848 0%, #000000 100%);
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  @media screen and (max-width: 1500px) {
    max-width: 1140px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 840px;
  }
  @media screen and (max-width: 900px) {
    max-width: none;
    padding: 0 20px;
  }
}

.main-image {
  position: absolute;
  top: 94px;
  right: calc((100% - 1440px) / 3);
  width: 882px;
  @media screen and (max-width: 1500px) {
    width: 45%;
    top: auto;
    bottom: 0px;
  }
  @media screen and (max-width: 1200px) {
    width: 50%;
  }
  @media screen and (max-width: 900px) {
    right: 10px;
  }
}

// Header
.header {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  @media screen and (max-width: 1500px) {
    top: 42px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  &:hover {
    svg path {
      fill: #20C8D4;
      transition: fill 0.25s ease-in;
    }
  }
  svg {
    width: 128px;
    height: 80px;
    @media screen and (max-width: 900px) {
      width: 90px;
      height: auto;
    }
    @media screen and  (max-width:640px) {
      width: 50px;
    }
    path {
      transition: fill 0.15s ease-out;
    }
  }
}

.socials {
  margin-right: 24px;
  @media screen and (max-width: 900px) {
    margin-right: 17px;
  }
  .social {
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.3s;
    }
    img {
      width: 48px;
      @media screen and (max-width: 900px) {
        width: 33.6px;
      }
    }
  }
}

.language-switcher {
  user-select: none;
  cursor: pointer;
  position: relative;
  &.active {
    .current {
      background: white;
      color: #20C8D4;
      transition: background-color .3s, color .2s;
    }
    .languages {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: white;
      color: #20C8D4;
      transition: background-color .3s, color .2s;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      border-radius: 4px;
      overflow: hidden;
      position: absolute;
      bottom: -140%;
      left: 0;
      right: 0;
      @media screen and (max-width: 900px) {
        font-size: 10px;
        bottom: -170%;
      }
      .language {
        padding: 5px 0;
        width: 100%;
        text-align: center;
        transition: background-color .1s, color .0.5s;
        &:hover {
          background-color: #20C8D4;
          color: white;
          transition: background-color .2s, color .1s;
        }
      }
    }
  }
  .current {
    width: 48px;
    height: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s, color .1s;
    @media screen and (max-width: 900px) {
      font-size: 10px;
      width: 33.6px;
      height: 33.6px;
    }
    &:hover {
      background: white;
      color: #20C8D4;
      transition: background-color .3s, color .2s;
    }
  }
  .languages {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .nav-mobile-open {
    svg {
      width: 30px;
      path {
        fill: #fff;
      }
    }
  }
  .nav-mobile-close {
    position: absolute;
    top: 42px;
    left: 20px;
    svg {
      width: 25px;
    }
  }
}


.nav {
  display: flex;
  @media screen and  (max-width:640px) {
    display: none !important;
  }
  &-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1A1D1F;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    will-change: transform;
    transform: translateX(100%);
    &.active {
      transform: translateX(0%);
      transition: transform 0.7s;
    }
    &.closed {
      transition: transform 0.3s;
    }
    & .nav-link {
      margin-bottom: 20px;
      font-size: 24px;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      &.active {
        color: #20C8D4;
        position: relative;
        &:before {
          content: '•';
          font-size: inherit;
          display: block;
          position: absolute;
          left: -20px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  & &-link {
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    margin-right: 15px;
    text-decoration: none;
    @media screen and (max-width: 900px) {
      font-size: 14px;
    }
    &:hover {
      color: #20C8D4;
      transition: color 0.15s;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  &.center .wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.left  {
    .wrapper {
      align-items: flex-start;
      width: 100%;
    }
    .main-title {
      font-size: 96px !important;
      line-height: 240px !important;
      text-indent: -1.62em !important;
      direction: ltr;
      margin-bottom: 0;
      @media screen and (max-width: 900px) {
        text-indent: 0em !important;
        text-align: left;
        font-size: 72px !important;
        line-height: 160px !important;
      }
      @media screen and (max-width: 900px) {
        font-size: 50px !important;
        line-height: 120px !important;
      }
    }
    .text {
      align-items: flex-start;
      p {
        text-align: left;
        max-width: 640px;
        @media screen and (max-width: 1200px) {
          max-width: 500px;
        }
        @media screen and (max-width: 900px) {
          max-width: 350px;
        }
      }
    }
    .button {
      margin-top: 44px;
    }
  }
}

.main-title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 1em;
  color: #FFFFFF;
  margin-bottom: 80px;
  line-height: 320px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  max-width: 750px;
  text-indent:-1em;
  direction:rtl;
  @media screen and (max-width: 900px) {
    font-size: 100px;
    max-width: none;
    margin-bottom: 56px;
    line-height: 224px;
  }
  @media screen and  (max-width:640px) {
    font-size: 72px;
    line-height: 160px;
    margin-bottom: 40px;
  }
  @media screen and  (max-width:400px) {
    font-size: 50px;
    line-height: 128px;
    margin-bottom: 32px;
  }
}

.main-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  max-width: 800px;
  @media screen and (max-width: 900px) {
    font-size: 14px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    margin-top: 82px;
    @media screen and (max-width: 900px) {
      margin-top: 58px;
    }
  }
}

.button {
  display:flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  color: #FFFFFF;
  padding: 18px 0;
  width: 100%;
  max-width: 400px;
  background: linear-gradient(180deg, #80F0F8 0%, #20C8D4 100%);
  border-radius: 40px;
  transition: opacity 0.2s;
  @media screen and (max-width: 900px) {
    font-size: 17px;
    padding: 13px 0;
    max-width: 280px;
  }
  &:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
  }
}