<html>
<head>
	<meta charset="UTF-8">
	<title>Calculator</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,900i&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div class="calculator" id="app">
		<div class="calc">
			<div v-if="seen" class="question-block-first">
				<div class="question first">
					<p>Тип верстки?</p>
					<form action="url">
						<input type="radio" id="radioCB" name="typeHTML"><label for="radioCB">Фиксированная</label>
						<br>
						<input type="radio" id="radioCB" name="typeHTML"><label for="radioCB">Адаптивная</label>
						<br>
						<input type="radio" id="radioCB" name="typeHTML"><label for="radioCB">Резиновая(Responsive)</label>
					</form>
				</div>
				<div class="question second">
					<p>Количество блоков?</p>
					<form action="url">
						<input v-model="block1" class="input" type="number" placeholder="0"><label>Простые блоки</label>
						<br>
						<input v-model="dfBlock1" class="input" type="number" placeholder="0"><label>Сложные блоки</label>
						<br>
						<input v-model="interBlock1"  class="input" type="number" placeholder="0"><label>Интерактивные блоки</label>
						<br>
						<input v-model="videoBlock1"  class="input" type="number" placeholder="0"><label>Видеоблоки</label>
					</form>
				</div>
			</div>
			<div @click="click_right" class="arrow_right"><img src="right.png" alt="right"></div>
			<div @click="click_left" class="arrow_left"><img src="left.png" alt="left"></div>
			<div v-if="seen1" class="question-block-second">
				<div class="question second">
					<p>Дополнительно</p>
					<form action="url">
						<input v-model="form1" class="input" type="number" placeholder="0"><label>Формы</label>
						<br>
						<input v-model="slider1" class="input" type="number" placeholder="0"><label>Слайдеры</label>
						<br>
						<input v-model="modalWindow1" class="input" type="number" placeholder="0"><label>Модальные окна</label>
					</form>
				</div>
				<div class="question first">
					<p>Адаптивность</p>
					<form action="url">
						<input type="checkbox" v-model="mobileAdaptive1" true-value="1" false-value="0" placeholder="0"><label>Адаптивность под планшет</label>
						<br>
						<input type="checkbox" v-model="tabletAdaptive1" true-value="1" false-value="0" placeholder="0"><label>Адаптивность под смартфон</label>
						<br>
						<input type="checkbox" v-model="responsive1" true-value="1" false-value="0" placeholder="0"><label>Резиновая верстка</label>
					</form>
				</div>
			</div>
		</div>
		<div class="calc-block">
			<div class="main-block">
				<span class='result_text'>Разработка сайта стоит:</span>
				<div class="result"><span>₽</span> {{ sum1 }}</div>
				<div class="other">
					<span class="uan"><span>В долларах</span>{{sum2}}</span>
					<span class="usd"><span>В гривнах</span>{{sum3}}</span>
					<span class="euro"><span>В евро</span>{{sum4}}</span>
				</div>
				<div class="buttons">
					<div @click="sum" class="calc_button" id="first_button">Посчитать!</div>
					<div class="calc_button">Заказать!</div>
				</div>
			</div>
		</div>
	</div> 
	<script src="main.js"></script>
</body>
</html>