
body {
	font-family:'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	
}

.calculator {
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	background-image: linear-gradient(to right bottom, #7e1ed8, #7c008a, #5f004d, #360822, #000000);

	padding-left: 10vw;
	padding-right: 10vw;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding: 10vw 0;
}

#slider {
	width: 50vw;
	background: white;
	border-radius: 10px;
}

h1 {
	background: transparent;
	font-size: 2rem;
	color: white;
}

.calc-block {
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

.calc-block .result {
	position: fixed;
	top: 10vw;
	left: 2vw;
	font-size: 2rem;
	background: white;
	padding: 2vw 4vw;
	border-radius: 100px;
	margin-bottom: 5vw;
}

.calc_button {
	position: fixed;
	right: 2vw;
	top: 10vw;
	font-size: 1.7rem;
	background: #c4c4c4;
	padding: 2vw 4vw;
	text-decoration: none;
	color: black;
	border-radius: 100px;
	margin-bottom: 5vw;
}

.calc_button1 {
	position: fixed;
	left: 2vw;
	top: 20vw;
	font-size: 1.7rem;
	background: #1900D8;
	padding: 2vw 4vw;
	text-decoration: none;
	color: white;
	border-radius: 100px;
	margin-bottom: 5vw;
	border-bottom: 5px solid #4860D8;
	font-weight: 500;
}

.question p {
	text-align: center;
	font-size: 2rem;
	background: #c4c4c4;
	padding: 2vw 0;
	letter-spacing: 0.1rem;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

form {
	padding: 0 5vw;
}

form label {
	font-size: 1.5rem;
	margin-left: 1vw;
}
form input {
	margin-bottom: 2vw;
}

.input {
	font-size: 1rem;
	padding: 1vw 2vw;
}

.go {
	padding: 1vw 2vw;
	text-decoration: none;
	background: #c4c4c4;
	border-radius: 100px;
	margin-left: 5vw;
	color: black;
}


