* {
  box-sizing: border-box; }

body {
  background-image: url("img/figure.svg");
  background-repeat: no-repeat;
  background-size: 1330px 544px;
  background-position-x: calc(100% + 258px);
  background-position-y: -118px; }
  @media screen and (min-width: 1440px) {
    body {
      background-position-x: calc(100vw - 1110px - 128px); } }
  @media screen and (min-width: 1750px) {
    body {
      background-position-y: -50px;
      background-position-x: calc(100vw - 1110px); } }
  @media screen and (max-width: 1150px) {
    body {
      background-position-x: 14vw; } }
  @media screen and (max-width: 768px) {
    body {
      background-position-x: 20vw;
      background-position-y: -110px; } }
  @media screen and (max-width: 640px) {
    body {
      background-position-x: 20vw;
      background-position-y: -62px; } }
  @media screen and (max-width: 500px) {
    body {
      background-position-x: 30vw;
      background-position-y: -96px; } }
  @media screen and (max-width: 400px) {
    body {
      background-position-x: 20vw; } }

.wrapper {
  max-width: 1110px;
  margin: 0 auto; }
  @media screen and (min-width: 1750px) {
    .wrapper {
      max-width: 1440px; } }
  @media screen and (max-width: 1150px) {
    .wrapper {
      padding: 0 45px; } }
  @media screen and (max-width: 400px) {
    .wrapper {
      padding: 0 25px; } }

.header {
  width: 100%;
  display: flex;
  padding: 9px 0;
  align-items: center; }
  .header__logo {
    width: 100px; }
    @media screen and (max-width: 400px) {
      .header__logo {
        width: 70px; } }
    .header__logo img {
      width: 100%; }
  .header__socials {
    margin-left: auto;
    margin-right: 100px; }
    @media screen and (max-width: 768px) {
      .header__socials {
        margin-right: 50px; } }
    .header__socials a {
      width: 18px;
      margin-right: 20px;
      display: inline-block; }
      .header__socials a.facebook {
        width: 12px; }
      .header__socials a img {
        width: 100%; }
      .header__socials a:last-child {
        margin-right: 0; }
  .header__phone {
    display: flex;
    flex-direction: column; }
    .header__phone .label {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      align-self: flex-end; }
    .header__phone .phone {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-align: right;
      color: #FCB042;
      margin-top: 10px; }

.content {
  margin-top: 100px;
  position: relative; }
  .content .content__text {
    margin-bottom: 146px; }
    @media screen and (max-width: 576px) {
      .content .content__text {
        margin-bottom: 62px; } }
    .content .content__text .default-h1 {
      margin-bottom: 20px; }
      @media screen and (max-width: 1150px) {
        .content .content__text .default-h1 {
          max-width: 400px; } }
      @media screen and (max-width: 980px) {
        .content .content__text .default-h1 {
          max-width: 100%; } }
    .content .content__text .default-text {
      width: 100%;
      max-width: 520px; }
      @media screen and (max-width: 1150px) {
        .content .content__text .default-text {
          max-width: 400px; } }
      @media screen and (max-width: 980px) {
        .content .content__text .default-text {
          max-width: 588px; } }
      .content .content__text .default-text.first {
        margin-bottom: 30px; }

.content__wheel {
  position: absolute;
  right: 0px;
  top: -130px; }
  @media screen and (max-width: 980px) {
    .content__wheel {
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 43px;
      margin-bottom: 84px; } }
  @media screen and (max-width: 1000px) {
    .content__wheel {
      right: -3vw; } }
  .content__wheel img {
    width: 500px; }
    @media screen and (max-width: 450px) {
      .content__wheel img {
        width: 100%; } }

.footer {
  position: absolute;
  bottom: 0;
  background: #616060;
  width: 100%;
  padding: 28px 0; }
  @media (orientation: landscape) and (max-width: 1024px) {
    .footer {
      position: static;
      margin-top: 20px; } }
  @media screen and (max-width: 980px) {
    .footer {
      position: static;
      margin-top: 20px; } }
  .footer .wrapper {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 450px) {
      .footer .wrapper {
        flex-direction: column;
        align-items: center; }
        .footer .wrapper .copyright {
          margin-bottom: 10px; } }
  .footer .copyright, .footer__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none; }

h1, p {
  margin: 0;
  padding: 0; }

.default-h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000; }
  .default-h1 span.red {
    color: #BE1E2D; }
  .default-h1 span.yellow {
    color: #FCB042; }

.default-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #3F3E3E; }

.default-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #BE1E2D;
  text-decoration: none; }

.buttons {
  display: flex;
  align-items: center;
  padding-left: 190px; }
  @media screen and (max-width: 980px) {
    .buttons {
      padding-left: 0;
      justify-content: center; } }
  @media screen and (max-width: 727px) {
    .buttons {
      justify-content: space-between; } }
  @media screen and (max-width: 678px) {
    .buttons {
      flex-direction: column; } }
  .buttons .border-button {
    margin-right: 60px; }
    @media screen and (max-width: 727px) {
      .buttons .border-button {
        margin-right: 0px; } }
    @media screen and (max-width: 678px) {
      .buttons .border-button {
        margin-bottom: 37px; } }

.button {
  border: none;
  background: #c4c4c4;
  display: inline-block; }
  .button.border-button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    background: transparent;
    border: 1px solid #BE1E2D;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 32px 82px 32px 47px;
    position: relative; }
    @media screen and (max-width: 578px) {
      .button.border-button {
        padding-bottom: 66px;
        padding-left: 55px;
        padding-right: 55px; } }
    .button.border-button:after {
      content: "";
      position: absolute;
      width: 18px;
      height: 23px;
      background-image: url("./img/arrow.svg");
      right: 20px;
      top: calc(50% - 11px);
      background-repeat: no-repeat;
      background-position: center; }
      @media screen and (max-width: 576px) {
        .button.border-button:after {
          top: auto;
          right: auto;
          left: calc(50% - 10px);
          bottom: 26px;
          transform: rotate(90deg); } }
  .button.yellow {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 17px 40px;
    background: #FCB042;
    border-radius: 5px; }

.red {
  color: #BE1E2D; }

.info {
  display: flex;
  margin-left: auto;
  align-items: center; }
  @media screen and (max-width: 500px) {
    .info {
      flex-direction: column; }
      .info .header__phone {
        align-self: center; }
      .info .header__socials {
        order: 1;
        align-items: center;
        margin-right: 0;
        margin-top: 10px; } }
